In [11]:
import pandas as pd
df = pd.DataFrame(
         {'A': [10, 20, 30, 40, 50],               # 列Aとその値
          'B': [0.8, 1.6, 2.4, 4.3, 7.6],          # 列Bとその値
          'C': [-1, -2.6, -3.5, -4.3, -5.1] },     # 列Cとその値
          index = ['r1', 'r2', 'r3', 'r4', 'r5']   # 行名を設定
)

In [12]:
df['D'] = [1, 2, 3, 4, 5]

In [13]:
df

     A    B    C  D
r1  10  0.8 -1.0  1
r2  20  1.6 -2.6  2
r3  30  2.4 -3.5  3
r4  40  4.3 -4.3  4
r5  50  7.6 -5.1  5

In [14]:
df_new = pd.DataFrame(
             {'E': [10, 20, 30, 40, 50],               # 列Eとその値
              'F': [0.8, 1.6, 2.4, 4.3, 7.6]}          # 列Fとその値
)