In [16]:
import pandas as pd
df1 = pd.DataFrame(
         {'A': [10, 20, 30, 40, 50],               # 列Aとその値
          'B': [0.8, 1.6, 2.4, 4.3, 7.6],          # 列Bとその値
          'C': [-1, -2.6, -3.5, -4.3, -5.1] },     # 列Cとその値
          index = ['r1', 'r2', 'r3', 'r4', 'r5']   # 行名を設定
)

In [17]:
df2 = pd.DataFrame(
         {'A': [60, 70, 80, 90, 100],              # 列Aとその値
          'B': [10.2, 11.6, 12.4, 14.3, 17.6],     # 列Bとその値
          'C': [-6, -12.6, -13.5, -14.3, -15.1] }, # 列Cとその値
          index = ['r6', 'r7', 'r8', 'r9', 'r10']  # 行名を設定
)

In [15]:
df1.append(df2)

       A     B     C
r1    10   0.8  -1.0
r2    20   1.6  -2.6
r3    30   2.4  -3.5
r4    40   4.3  -4.3
r5    50   7.6  -5.1
r6    60  10.2  -6.0
r7    70  11.6 -12.6
r8    80  12.4 -13.5
r9    90  14.3 -14.3
r10  100  17.6 -15.1